Repository drake-nathan/substratum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json}": ["prettier --write"],
  "*.{ts,tsx,js,jsx}": ["eslint --fix"]
}

chore: Downgrade tooltip, upgrade wagmi
  package.json
  yarn.lock
Due: prettier --write

fix: Comment out owner stuff
  components/TokenPage/Module/TokenModule.tsx
Due: prettier --write, eslint --fix

build: Description functionality
  components/Header/DropDowns/DropDowns.styled.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.styled.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  components/TokenPage/Module/TokenModule.styled.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/Module/Traits/Traits.tsx
Due: prettier --write, eslint --fix

chore: Lock update
  yarn.lock
Due: none

chore: Try next 13.3
  package.json
  yarn.lock
Due: prettier --write

chore: Try next 13.4
  package.json
  yarn.lock
Due: prettier --write

chore: Try 13.5
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: Back to 13.3
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: Upgrade other pacakges/prettier
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/MarketIcons/icons.ts
  components/ProjectPage/LayeredCollection/LayeredCollection.tsx
  components/ProjectPage/LayeredCollection/Legend/Legend.styled.tsx
  components/ProjectPage/Tokens/TokenGrid/TokenGrid.tsx
  components/ProjectPage/Tokens/Tokens.tsx
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
  package.json
  services/azureApi/fetches.ts
  services/wagmi.ts
  styles/fonts.css
  yarn.lock
Due: prettier --write, eslint --fix

build: Extra tab for poem description
  components/TokenPage/Module/TokenInfo/Info.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  components/TokenPage/Module/TokenInfo/types.ts
  components/TokenPage/Module/TokenInfo/utils.tsx
  components/TokenPage/Module/TokenModule.tsx
  services/azureApi/types.ts
Due: prettier --write, eslint --fix

build: Add tab query state
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/TokenPage.tsx
  hooks/useQueryParam.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: Substratum icon hover
  public/icons/FirstMateLogo.svg
Due: none

fix: Other tokens
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
Due: prettier --write, eslint --fix

fix: A few things
  components/LandingPage/Projects/Card/Card.tsx
  components/ProjectPage/Details/Details.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  hooks/useCurrentSupply.ts
  services/azureApi/fetches.ts
Due: prettier --write, eslint --fix

fix: Token page images
  components/TokenPage/Module/TokenModule.styled.tsx
  components/TokenPage/Module/TokenModule.tsx
Due: prettier --write, eslint --fix

fix: Remove fake owner card
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
  components/ProjectPage/Tokens/TokenCard/TokenCard.tsx
Due: prettier --write, eslint --fix

fix: Full screen image
  components/TokenPage/Module/TokenIcons/TokenIcons.tsx
Due: prettier --write, eslint --fix

fix: Token page and nav on mobile
  components/Header/DropDowns/DropDowns.styled.tsx
  components/Header/Header.tsx
  components/Header/MobileNav/MobileNav.styled.tsx
  components/Header/MobileNav/MobileNav.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
  components/TokenPage/Module/OtherTokens/TokenCard.styled.tsx
  components/TokenPage/Module/TokenModule.styled.tsx
  components/TokenPage/Module/TokenModule.tsx
  contexts/ThemeProvider.tsx
  styles/styled.d.ts
Due: prettier --write, eslint --fix

chore: Add .vscode
  .vscode/settings.json
Due: prettier --write

chore: Rebuild yarn, sort imports
  components/CustomWeb3Modal/CustomWeb3Modal.tsx
  components/Footer/Footer.styled.tsx
  components/Header/Header.styled.tsx
  components/Header/Header.tsx
  components/Header/MobileNav/MobileNav.tsx
  components/LandingPage/Projects/Card/Card.tsx
  components/ProjectPage/ProjectHead.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenMenu.tsx
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
  components/TokenPage/Module/TokenIcons/TokenIcons.tsx
  components/TokenPage/Module/TokenInfo/Info.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/TokenPage.tsx
  lib/registry.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: Add engine
  package.json
Due: prettier --write

chore: Fix Node versions
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
  components/ProjectPage/100x/Shuffler/TokenOwnerOfModal.tsx
  package.json
Due: prettier --write, eslint --fix

fix: Azure node dammit
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
  package.json
Due: prettier --write

fix: Fuckin azure node
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
  package.json
Due: prettier --write

chore: Fix Node
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
  package.json
Due: prettier --write

fix: Commitlint
  package.json
Due: prettier --write

fix: Lint-staged version
  package.json
Due: prettier --write

fix: Try next config
  next.config.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: Try yarn version
  package.json
Due: prettier --write

fix: Try new next build
  package.json
Due: prettier --write

fix: GBREWagvejiwfewa
  next.config.js
  package.json
Due: prettier --write, eslint --fix

fix: Next
  next.config.js
Due: prettier --write, eslint --fix

fix: Fuck
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

chore: Remove azure workflow
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

chore: Update Node version
  .nvmrc
  package.json
Due: prettier --write

chore: Upgrade other packages
  package.json
  yarn.lock
Due: prettier --write

chore: Upgrade Next
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: Vault ownership
  components/ProjectPage/100x/Shuffler/ShuffleModal.tsx
  hooks/100x/useTokensOwned.ts
Due: prettier --write, eslint --fix
