Repository drake-nathan/substratum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: Lint-staged working
  .lintstagedrc
Due: none

chore: Add in correct project data
  .lintstagedrc
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/DropDowns.styled.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
  components/Header/NavLinks/NavLinks.tsx
  components/LandingPage/Projects/Grid/Grid.tsx
  components/MarketIcons/MarketIcons.tsx
  components/ProjectPage/Details/Details.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenMenu.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.tsx
  components/staticData/projects.ts
  pages/_document.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

style: Mobile nav colors
  components/Header/MobileNav/MobileNav.styled.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
Due: prettier --write, eslint --fix

fix: Spacing issues
  components/Footer/Footer.tsx
  components/LandingPage/Projects/Card/Card.tsx
  components/TokenPage/Module/OtherTokens/TokenCard.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/TokenPage.tsx
  components/staticData/projects.ts
Due: prettier --write, eslint --fix

style: Icons spacing
  components/ProjectPage/ProjectHead.styled.tsx
  components/ProjectPage/ProjectHead.tsx
  components/TokenPage/TokenPage.styled.tsx
  components/TokenPage/TokenPage.tsx
Due: prettier --write, eslint --fix

fix: Implemented svg to png functionality
  components/ProjectPage/LayeredCollection/LayeredCollection.styled.tsx
  components/ProjectPage/LayeredCollection/LayeredCollection.tsx
  pages/_app.tsx
  styles/spinner.css
Due: prettier --write, eslint --fix

chore: Add testnet demo to 100x and add interactivity to Crystall
  components/ProjectPage/ProjectHead.tsx
  components/staticData/projects.ts
Due: prettier --write, eslint --fix

chore: Fix api root url
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

chore: Try explicit node and yarn versions for build
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
  package.json
Due: prettier --write

chore: Try to remove engines from package.json
  package.json
Due: prettier --write

chore: Prettier updates
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  package.json
  utils/helpers.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: Fix typo
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  components/ProjectPage/Tokens/TokenGrid/TokenGrid.tsx
Due: prettier --write, eslint --fix

build: Add market linnk
  components/Header/NavLinks/NavLinks.tsx
Due: prettier --write, eslint --fix

refactor(server): Changed Opensea to FirstMate
  components/MarketIcons/icons.ts
  public/icons/FirstMateLogo.svg
Due: prettier --write, eslint --fix

refactor(server): Updated market logo and tooltips
  components/MarketIcons/icons.ts
  public/icons/FirstMateLogo.svg
Due: prettier --write, eslint --fix

update packages, add connect
  components/CustomWeb3Modal/CustomWeb3Modal.tsx
  components/Header/Connect/ConnectButton.styled.tsx
  components/Header/Connect/ConnectButton.tsx
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/DropDowns.styled.tsx
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/Header/Header.styled.tsx
  components/Header/Header.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
  components/Header/SocialIcons/SocialIcons.styled.tsx
  components/LandingPage/Projects/Card/Card.styled.tsx
  components/LandingPage/Projects/TabBar/TabBar.styled.tsx
  components/MarketIcons/MarketIcons.styled.tsx
  components/ProjectPage/Details/Details.styled.tsx
  components/ProjectPage/Details/OtherCollections/CollectionCard.styled.tsx
  components/ProjectPage/LayeredCollection/Shuffler/Shuffler.styled.tsx
  components/ProjectPage/ProjectHead.styled.tsx
  components/ProjectPage/ProjectMenuBar.styled.tsx
  components/ProjectPage/Tokens/TokenCard/TokenCard.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenMenu.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.styled.tsx
  components/TokenPage/Module/OtherTokens/TokenCard.styled.tsx
  components/TokenPage/Module/TokenModule.styled.tsx
  components/TokenPage/Module/Traits/Traits.styled.tsx
  components/TokenPage/TokenPage.styled.tsx
  contexts/Providers.tsx
  contexts/WagmiProvider.tsx
  hooks/useIsClient.ts
  lib/registry.tsx
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  services/wagmi.ts
  utils/shorteners.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: Fix lint
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: Add env
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

Revert "chore: Add env"
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

Revert "chore: Fix lint"
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

Revert "update packages, add connect"
  components/CustomWeb3Modal/CustomWeb3Modal.tsx
  components/Header/Connect/ConnectButton.styled.tsx
  components/Header/Connect/ConnectButton.tsx
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/DropDowns.styled.tsx
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/Header/Header.styled.tsx
  components/Header/Header.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
  components/Header/SocialIcons/SocialIcons.styled.tsx
  components/LandingPage/Projects/Card/Card.styled.tsx
  components/LandingPage/Projects/TabBar/TabBar.styled.tsx
  components/MarketIcons/MarketIcons.styled.tsx
  components/ProjectPage/Details/Details.styled.tsx
  components/ProjectPage/Details/OtherCollections/CollectionCard.styled.tsx
  components/ProjectPage/LayeredCollection/Shuffler/Shuffler.styled.tsx
  components/ProjectPage/ProjectHead.styled.tsx
  components/ProjectPage/ProjectMenuBar.styled.tsx
  components/ProjectPage/Tokens/TokenCard/TokenCard.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenMenu.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.styled.tsx
  components/TokenPage/Module/OtherTokens/TokenCard.styled.tsx
  components/TokenPage/Module/TokenModule.styled.tsx
  components/TokenPage/Module/Traits/Traits.styled.tsx
  components/TokenPage/TokenPage.styled.tsx
  contexts/Providers.tsx
  contexts/WagmiProvider.tsx
  hooks/useIsClient.ts
  lib/registry.tsx
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  services/wagmi.ts
  utils/shorteners.ts
  yarn.lock
Due: prettier --write, eslint --fix

Revert "Revert "update packages, add connect""
  components/CustomWeb3Modal/CustomWeb3Modal.tsx
  components/Header/Connect/ConnectButton.styled.tsx
  components/Header/Connect/ConnectButton.tsx
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/DropDowns.styled.tsx
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/Header/Header.styled.tsx
  components/Header/Header.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
  components/Header/SocialIcons/SocialIcons.styled.tsx
  components/LandingPage/Projects/Card/Card.styled.tsx
  components/LandingPage/Projects/TabBar/TabBar.styled.tsx
  components/MarketIcons/MarketIcons.styled.tsx
  components/ProjectPage/Details/Details.styled.tsx
  components/ProjectPage/Details/OtherCollections/CollectionCard.styled.tsx
  components/ProjectPage/LayeredCollection/Shuffler/Shuffler.styled.tsx
  components/ProjectPage/ProjectHead.styled.tsx
  components/ProjectPage/ProjectMenuBar.styled.tsx
  components/ProjectPage/Tokens/TokenCard/TokenCard.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenMenu.styled.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.styled.tsx
  components/TokenPage/Module/OtherTokens/TokenCard.styled.tsx
  components/TokenPage/Module/TokenModule.styled.tsx
  components/TokenPage/Module/Traits/Traits.styled.tsx
  components/TokenPage/TokenPage.styled.tsx
  contexts/Providers.tsx
  contexts/WagmiProvider.tsx
  hooks/useIsClient.ts
  lib/registry.tsx
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  services/wagmi.ts
  utils/shorteners.ts
  yarn.lock
Due: prettier --write, eslint --fix

Revert "Revert "chore: Add env""
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

Revert "Revert "chore: Fix lint""
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

next config
  next.config.js
Due: prettier --write, eslint --fix

chore: Revert styled components to v5
  components/CustomWeb3Modal/CustomWeb3Modal.tsx
  lib/registry.tsx
  next.config.js
  package.json
  pages/_document.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: Add eslint ignore
  .eslintignore
Due: none

chore: Downgrade next
  .eslintignore
  components/CustomWeb3Modal/CustomWeb3Modal.tsx
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

build: Init setup
  .prettierrc.json
  components/ProjectPage/Details/Details.tsx
  components/ProjectPage/LayeredCollection/LayeredCollection.styled.tsx
  components/ProjectPage/LayeredCollection/LayeredCollection.tsx
  components/ProjectPage/LayeredCollection/Shuffler/Shuffler.tsx
  components/ProjectPage/LayeredCollection/Shuffler/tempShuffleFunctions.ts
  components/ProjectPage/ProjectHead.tsx
  components/ProjectPage/ProjectMenuBar.tsx
  components/staticData/projects.ts
  pages/project/[projectSlug]/index.tsx
  utils/helpers.ts
Due: prettier --write, eslint --fix

chore: Update packages
  package.json
  yarn.lock
Due: prettier --write

chore: Fix icon type
  components/MarketIcons/icons.ts
Due: prettier --write, eslint --fix

chore: Try next output
  next.config.js
Due: prettier --write, eslint --fix

chore: Fix env
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
Due: none

build: Work on hooks
  components/ProjectPage/LayeredCollection/Shuffler/Shuffler.styled.tsx
  components/ProjectPage/LayeredCollection/Shuffler/Shuffler.tsx
  components/ProjectPage/LayeredCollection/Shuffler/VaultInput.tsx
  hooks/useTokensOwned.ts
  package.json
  utils/helpers.ts
  utils/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: Add haiku
  components/LandingPage/Projects/Card/Card.tsx
  components/staticData/projects.ts
  public/projects/haiku.png
Due: prettier --write, eslint --fix

fix: Current supply token page
  components/LandingPage/Projects/Card/Card.tsx
  components/ProjectPage/ProjectHead.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/staticData/projects.ts
  pages/project/[projectSlug]/token/[tokenId].tsx
Due: prettier --write, eslint --fix

chore: Upgrade node
  .github/workflows/azure-static-web-apps-proud-grass-010d44f10.yml
  .nvmrc
Due: none

chore: Upgrade tooltip
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
