Repository drake-nathan/substratum: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: Downgrade viem
  bun.lockb
  package.json
Due: prettier --write

fix: TS Error build
  components/CustomWeb3Modal.tsx
  services/wagmi.ts
Due: prettier --write, eslint --fix

fix: Revert eslint config to json
  .eslintrc.json
  tsconfig.node.json
  wagmi.config.ts
Due: prettier --write, eslint --fix

chore: Update packages
  bun.lockb
  package.json
Due: prettier --write

chore: Update packages (#36)
  bun.lockb
  package.json
Due: prettier --write

chore: Swap eslint sort configs
  .eslintrc.js
  .eslintrc.json
  bun.lockb
  package.json
  tsconfig.node.json
Due: prettier --write, eslint --fix

ci: Run lint fix with new sort rules
  .eslintrc.json
  components/LandingPage/Projects/Card/Card.tsx
  components/LandingPage/Projects/Grid.tsx
  components/LandingPage/Projects/TabBar/TabBar.tsx
  components/MarketIcons/MarketIcons.tsx
  components/MarketIcons/icons.ts
  components/Modals/SuccessModal.tsx
  components/Modals/TransactionModal.tsx
  components/ProjectPage/100x/Legend/Legend.tsx
  components/ProjectPage/100x/Legend/LegendCard.tsx
  components/ProjectPage/100x/Shuffler/ShuffleButton.tsx
  components/ProjectPage/100x/Shuffler/ShuffleModal.tsx
  components/ProjectPage/100x/Shuffler/TokenOwnerOfModal.tsx
  components/ProjectPage/100x/Shuffler/TopButton.tsx
  components/ProjectPage/100x/Shuffler/TopModal.tsx
  components/ProjectPage/100x/Shuffler/VaultInput.tsx
  components/ProjectPage/Details/OtherCollections/CollectionCard.tsx
  components/ProjectPage/ProjectHead.tsx
  components/ProjectPage/Tokens/TokenCard/TokenCard.tsx
  components/ProjectPage/Tokens/TokenGrid/TokenGrid.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenMenu.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.tsx
  components/ProjectPage/Tokens/Tokens.tsx
  components/TokenPage/Module/BottomBar/BottomBar.tsx
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
  components/TokenPage/Module/OtherTokens/TokenCard.tsx
  components/TokenPage/Module/TokenIcons/TokenIcons.tsx
  components/TokenPage/Module/TokenInfo/Info.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/TokenPage.tsx
  components/staticData/projects.ts
  pages/_app.tsx
  pages/blonks.tsx
  pages/index.tsx
  pages/project/[projectSlug]/index.tsx
  pages/project/[projectSlug]/token/[tokenId].tsx
  pages/styleguide.tsx
Due: prettier --write, eslint --fix

chore: Update to Node 20
  .nvmrc
Due: none

chore: Add strict config, fix lints
  .eslintrc.json
  components/Header/Connect/ConnectButton.tsx
  components/MarketIcons/MarketIcons.tsx
  components/MarketIcons/icons.ts
  components/ProjectPage/100x/Shuffler/VaultInput.tsx
  components/ProjectPage/Details/Details.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.tsx
  components/ProjectPage/Tokens/Tokens.tsx
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
  components/TokenPage/Module/TokenInfo/TokenInfo.tsx
  components/TokenPage/TokenPage.tsx
  contexts/ModalProvider.tsx
  contexts/ThemeProvider.tsx
  hooks/100x/useShuffle.ts
  hooks/100x/useTokensOwned.ts
  hooks/100x/useTop.ts
  hooks/useCurrentSupply.ts
  pages/project/[projectSlug]/index.tsx
  react-app-env.d.ts
  services/azureApi/fetches.ts
  services/azureApi/types.ts
  services/wagmi.ts
  styles/styled.d.ts
  styles/theme.tsx
  utils/links.ts
  utils/types.ts
  utils/zod.ts
  wagmi.config.ts
Due: prettier --write, eslint --fix

chore: More sort configs
  .eslintignore
  .eslintrc.json
  .postcssrc.json
  .prettierrc.json
  .vscode/settings.json
  bun.lockb
  next.config.js
  package.json
  postcss.config.js
  prettier.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

chore: ESM
  next.config.js
Due: prettier --write, eslint --fix

chore: Add recursive json sort
  .eslintrc.json
  .prettierrc.json
  tsconfig.json
Due: prettier --write

build: ESM, eslint sort, tailwind updates
  .eslintrc.json
  .vscode/extensions.json
  README.md
  bun.lockb
  components/ProjectPage/ProjectHead.styled.tsx
  components/ProjectPage/ProjectHead.tsx
  package.json
Due: prettier --write, eslint --fix

style: Doug tailwind demo
  components/ProjectPage/ProjectMenuBar.styled.tsx
  components/ProjectPage/ProjectMenuBar.tsx
Due: prettier --write, eslint --fix

chore: Switch to yarn
  bun.lockb
  yarn.lock
Due: none

chore: Fix readme
  README.md
Due: none

chore: Tweak ESLint sort groups
  .eslintrc.json
  components/Header/Connect/ConnectButton.tsx
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/LandingPage/Projects/Card/Card.tsx
  components/MarketIcons/MarketIcons.tsx
  components/Modals/ActionArea.tsx
  components/Modals/AlertModal.tsx
  components/Modals/SuccessModal.tsx
  components/Modals/TransactionModal.tsx
  components/ProjectPage/100x/Shuffler/ShuffleButton.tsx
  components/ProjectPage/100x/Shuffler/ShuffleModal.tsx
  components/ProjectPage/100x/Shuffler/Shuffler.tsx
  components/ProjectPage/100x/Shuffler/TokenOwnerOfModal.tsx
  components/ProjectPage/100x/Shuffler/TopButton.tsx
  components/ProjectPage/100x/Shuffler/TopModal.tsx
  components/ProjectPage/100x/Shuffler/VaultInput.tsx
  components/ProjectPage/Details/Details.tsx
  components/ProjectPage/Details/OtherCollections/CollectionCard.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.tsx
  components/ProjectPage/Tokens/Tokens.tsx
  components/TokenPage/Module/BottomBar/BottomBar.tsx
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
  components/TokenPage/Module/TokenIcons/TokenIcons.tsx
  components/TokenPage/Module/TokenImage.tsx
  components/TokenPage/Module/TokenInfo/Info.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/TokenPage.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/project/[projectSlug]/index.tsx
  pages/project/[projectSlug]/token/[tokenId].tsx
Due: prettier --write, eslint --fix

fix: Shuffle error message
  components/ProjectPage/100x/Shuffler/ShuffleModal.tsx
  components/ProjectPage/100x/Shuffler/TopModal.tsx
Due: prettier --write, eslint --fix

build: Add tooltips to shuffle
  components/ProjectPage/100x/Shuffler/Shuffler.tsx
  components/TokenPage/Module/TokenInfo/Info.tsx
Due: prettier --write, eslint --fix

style: Details to tailwind
  components/ProjectPage/Details/Details.styled.tsx
  components/ProjectPage/Details/Details.tsx
Due: prettier --write, eslint --fix

build: Image swap ability for 100x
  components/ProjectPage/100x/Shuffler/Shuffler.styled.tsx
  components/ProjectPage/100x/Shuffler/Shuffler.tsx
  components/ProjectPage/Details/Details.tsx
Due: prettier --write, eslint --fix

style: Bold modal title
  components/Modals/TransactionModal.tsx
Due: prettier --write, eslint --fix

chore: Add yarn-ish
  .gitignore
  bun.lockb
  package.json
Due: prettier --write

100x-work
  .eslintrc.json
  .gitignore
  bun.lockb
  components/Header/Connect/ConnectButton.tsx
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/LandingPage/Projects/Card/Card.tsx
  components/MarketIcons/MarketIcons.tsx
  components/Modals/ActionArea.tsx
  components/Modals/AlertModal.tsx
  components/Modals/SuccessModal.tsx
  components/Modals/TransactionModal.tsx
  components/ProjectPage/100x/Shuffler/ShuffleButton.tsx
  components/ProjectPage/100x/Shuffler/ShuffleModal.tsx
  components/ProjectPage/100x/Shuffler/Shuffler.styled.tsx
  components/ProjectPage/100x/Shuffler/Shuffler.tsx
  components/ProjectPage/100x/Shuffler/TokenOwnerOfModal.tsx
  components/ProjectPage/100x/Shuffler/TopButton.tsx
  components/ProjectPage/100x/Shuffler/TopModal.tsx
  components/ProjectPage/100x/Shuffler/VaultInput.tsx
  components/ProjectPage/Details/Details.styled.tsx
  components/ProjectPage/Details/Details.tsx
  components/ProjectPage/Details/OtherCollections/CollectionCard.tsx
  components/ProjectPage/Tokens/TokenMenu/TokenSearch.tsx
  components/ProjectPage/Tokens/Tokens.tsx
  components/TokenPage/Module/BottomBar/BottomBar.tsx
  components/TokenPage/Module/OtherTokens/OtherTokens.tsx
  components/TokenPage/Module/TokenIcons/TokenIcons.tsx
  components/TokenPage/Module/TokenImage.tsx
  components/TokenPage/Module/TokenInfo/Info.tsx
  components/TokenPage/Module/TokenModule.tsx
  components/TokenPage/TokenPage.tsx
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/project/[projectSlug]/index.tsx
  pages/project/[projectSlug]/token/[tokenId].tsx
Due: prettier --write, eslint --fix

chore: Update packages
  bun.lockb
  package.json
  yarn.lock
Due: prettier --write

chore: Update packages
  bun.lockb
  components/Header/Header.tsx
  package.json
Due: prettier --write, eslint --fix

build: Setup deposit for Doug
  .vscode/extensions.json
  components/Header/ConnectButton.tsx
  components/Header/DropDowns/ArtistsDropDown.tsx
  components/Header/DropDowns/DropDowns.styled.tsx
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/Header/Header.tsx
  components/Header/MobileNav/MobileNav.tsx
  components/Header/NavLinks/NavLinks.styled.tsx
  components/Header/NavLinks/NavLinks.tsx
  components/ProjectPage/Deposit/DepositHead.tsx
  components/ProjectPage/Deposit/DepositMain.tsx
  components/ProjectPage/ProjectHead.tsx
  components/ProjectPage/ProjectMain.tsx
  components/ProjectPage/Tabs.tsx
  data/depositAbi.ts
  pages/project/[projectSlug]/index.tsx
  pages/styleguide.tsx
  wagmi.config.ts
  wagmi/generated.ts
Due: prettier --write, eslint --fix

chore: Remove unsed imports
  pages/project/[projectSlug]/index.tsx
Due: prettier --write, eslint --fix

chore: Update packages, tailwind styling
  .vscode/settings.json
  bun.lockb
  components/Header/DropDowns/ProjectsDropDown.tsx
  components/Header/Header.tsx
  components/Header/MobileNav.tsx
  components/Header/MobileNav/MobileNav.styled.tsx
  components/Header/MobileNav/MobileNav.tsx
  components/Header/SocialIcons.tsx
  components/Header/SocialIcons/SocialIcons.styled.tsx
  components/Header/SocialIcons/SocialIcons.tsx
  contexts/ModalProvider.tsx
  package.json
Due: prettier --write, eslint --fix

chore: Remove unused packages
  bun.lockb
  package.json
Due: prettier --write

build: Deposit Header Section - Default
  components/Header/NavLinks/NavLinks.styled.tsx
  components/ProjectPage/Deposit/DepositHead.tsx
Due: prettier --write, eslint --fix

chore: Update deps, including next 14.1
  bun.lockb
  package.json
  tsconfig.json
Due: prettier --write

feat: Deposit page head layout complete
  components/Header/NavLinks/NavLinks.styled.tsx
  components/ProjectPage/Deposit/DepositHead.styled.tsx
  components/ProjectPage/Deposit/DepositHead.tsx
  components/ProjectPage/Deposit/DepositHelper.tsx
  components/ProjectPage/ProjectHead.tsx
  styles/globals.css
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
